


.pricing-section {
    text-align: center;
    max-width: 90%; /* Reduce el ancho máximo al 90% para dar más margen a los lados */
    margin: 0 auto; /* Centra el contenedor */
    overflow: hidden; /* Evitar cualquier desbordamiento */
    box-sizing: border-box; /* Incluir padding y border en el width y height */
    margin-bottom: 100px;
    padding: 0 20px; /* Ajusta los márgenes internos si es necesario */
}


.pricing-section h1 {
    color: #f1c40f;
    margin-bottom: 30px;
    font-size: 3rem;
}

.card-container {
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas se muevan a la siguiente línea si es necesario */
    gap: 20px; /* Aumenta el espacio entre las tarjetas */
    justify-content: center;
    width: 100%; /* Asegúrate de que ocupe el 100% del contenedor padre */
    box-sizing: border-box;
}
.card {
    background-color: #1c1c1c;
    border: 1px solid #f1c40f;
    border-radius: 20px;
    
    padding: 50px 30px 30px 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 100%; /* Ajusta el ancho para adaptarse al contenedor en pantallas pequeñas */
    max-width: 340px; /* Mantén un ancho máximo de 280px */
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 500px;
    position: relative;
    box-sizing: border-box; /* Asegura que padding y border estén incluidos en el width */
}


.card::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 20px; 
    right: 20px; 
    height: 5px; 
    background-color: #f1c40f;
    border-radius: 20px 20px 20px 20px; 
}

.card h2 {
    color: #f1c40f;
    margin-bottom: 20px;
    font-size: 0.8rem;
    text-align: left;
}

.price {
    font-size: 2rem; 
    font-weight: bold;
    margin: -12px 0px -12px 0px;
    text-align: left;
}

.month {
    font-size: 1rem;
}

.currency {
    font-size: 2rem;
}

.date {
    font-size: 0.8rem;
    color: #888;
    margin-bottom: 15px;
    text-align: left;
}

.benefits-title {
    font-weight: bold;
    margin-bottom: 8px;
    text-align: justify; 
    color: #fff; 
}

.benefits-list {
    list-style: none;
    padding: 0;
    text-align: justify; 
    flex: 1;
    margin-top: 0;
}

.benefits-list li {
    margin-bottom: 8px;
    font-size: 0.9rem;
    line-height: 1.4;
    color: #b0b0b0; 
}

.benefits-list li strong {
    color: #f1c40f; 
    font-weight: bold; 
}

.underlined-strong {
    color: #f1c40f; 
    font-weight: bold; 
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
}

.requirement {
    font-size: 0.6rem;
    color: #f1c40f;
    margin: -15px 0;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.button-link {
    text-decoration: none;
    margin-right: -10px;
}

.subscribe-img {
    width: 180px;
    margin-bottom: -13px;
    margin-right: -25px;
    height: auto;
    transition: transform 0.3s ease;
}

.button-link:hover .subscribe-img {
    transform: scale(1.05); /* Slightly enlarge image on hover */
    content: url('../images/Wolf\ Premium\ -\ Nuestros\ planes\ -\ Boton\ encendido.png');
}

.subscribe-btn {
    background-color: #f1c40f;
    color: #000;
    padding: 8px 16px; 
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
    font-size: 0.9rem;
}

.subscribe-btn:hover {
    background-color: #d4ac0d;
}

@media (max-width: 768px) {

    .pricing-section h1{
        font-size: 1.5rem;
    }
    .card-container {
        flex-wrap: wrap; 
    }

    .card {
        flex: 1 1 calc(33.333% - 20px);
        margin-bottom: 20px; 
    }
}

@media (max-width: 480px) {
    .card-container {
        flex-direction: column;
    }

    .card {
        flex: 1 1 100%;
        margin-bottom: 20px;
    }
}